body{
    font-family: Arial;
    background:#f2f2f2;
    text-align:center;
}
form{
    background:white;
    padding:20px;
    width:300px;
    margin:auto;
}
input,button{
    width:100%;
    padding:10px;
    margin:5px 0;
}
